body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.header{
    padding: 20px;
    display: flex;
    background: #101820FF;
    height: 100px;
    color: #F2AA4CFF;
    font-size: 3.2em;
    justify-content: center;
    align-items: center;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F2AA4CFF;
    padding: 40px;
}

.keyInfo{
    display: flex;
    border: 4px solid #101820FF;
    border-radius: 25px;
    height: 300px;
    width: 300px;
}

.footer{
    display: flex;
    padding: 20px;
    background: #101820FF;
    height: 10px;
    color: #F2AA4CFF;
    font-size: 1.2em;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}